<div class="container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="form_heading">Subject Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="subject_form" method="post">
            <input type="text" name="subject_id" id="subject_id" value="{{subject_id}}" hidden>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <label for="name" class="form-label">Subject Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="eg : JavaScript" required>
                </div>
                <div class="col-sm-6">
                    <label for="code" class="form-label">Subject Code</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="eg :- JS" required>
                </div>
            </div>
            <div class="row mb-6">
                <div class="col-sm-6">
                    <label for="max_marks" class="form-label">Max Marks</label>
                    <input type="text" class="form-control" id="max_marks" name="max_marks" placeholder="eg : 100" required>
                </div>
                <div class="col-sm-6">
                    <label for="time_duration" class="form-label">Time Duration</label>
                    <select name="time_duration" id="time_duration" class="form-control">
                        <option value="10">--10min--</option>
                        <option value="15">--15min--</option>
                        <option value="20">--20min--</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="num_question" class="form-label">No. Of Question</label>
                    <select name="num_question" id="num_question" class="form-control">
                        <option value="10">10 Question</option>
                        <option value="15">15 Question</option>
                        <option value="20">20 Question</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="colse_button">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveOrUpdateSubject(event)">Save</button>
    </div>
</div>